<h1>Rent book</h1>
<ul>
  <li>
    <p><%= t('greeting', name: @rent.user.first_name) %></p> 
  </li>

  <li>
    <p> <%= t('start_date', star_d: @rent.start_date) %></p> 
  </li>

  <li> 
    <p><%= t('end_date', end_d: @rent.end_date) %></p> 
  </li>

  <li>
    <p> <%= t('current_date', current_d: @current_date) %> </p> 
  </li>

  <li>
    <p> <%= t('book_title', book_t: @rent.book.title) %> </p>
  </li>

  <li>
    <p> <%= t('book_genre', book_g: @rent.book.genre) %> </p>
  </li>

  <li>
    <p> <%= t('book_author', book_a: @rent.book.author) %> </p> 
  </li>
</ul>