<h1>Rent#send</h1>
<p>
  Hi <%= @rent.user.first_name %>, find me in app/views/rent_mailer/send.html.erb
  <%= @rent.start_date %>
  <%= @rent.end_date %>
  <%= @current_date %>  
  <%= @rent.book.title %>
  <%= @rent.book.genre %>
  <%= @rent.book.author %>
</p>
